<div class="jumbotron mt-4 bg-transparent ">
    <main role="main" class="inner cover">
        <h1 class="cover-heading mb-5">Serviteca Express</h1>
        <p class="lead mb-5">Bienvenido al portal de Serviteca Express donde encontrarás todos nuestros servicios,
            además si necesitas revisión de tu vehiculo podrás hacer la reserva gratis y de forma rápida. </p>
        <a href="/servicios" class="btn btn-success mt-4">
            Nuestros Servicios
        </a>
    </main>
    <footer class="mastfoot text-center fixed-bottom">
        <div class="inner">
            <p>Todos los derechos Reservados.</p>
        </div>
    </footer>
</div>